# LocalStack / Docker
volume/
.env
env/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.backup

# OS specific
.DS_Store
Thumbs.db
